/* ParcelBookingApp.css */

.parcel-booking {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
   
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(208, 10, 235, 0.911);
    margin-left: 380px;
    margin-top: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(248, 245, 245);
    font-family:'Times New Roman', Times, serif
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: rgb(247, 242, 242);
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .tracking-id {
    margin-top: 20px;
    text-align: center;
  }
  