/* login.css */

/* login.css */

.Container {
    position: relative;
    width: 100%;
    height: 100vh; /* You can adjust the height here */
    overflow: hidden;
  }
  
  .video-background {
    position: absolute;
    top: 0;
    left: 0; 
    height: 100%; 
    object-fit: cover; /* Cover the entire container */
    z-index: -1; /* Place the video behind other content */
  }
  
  .cc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(208, 10, 235, 0.911);
    
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    
    margin-top: 50px;
  }
  
  /* Rest of the CSS remains the same */
  
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 16px;
    /*border: 1px solid #ccc;*/
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    padding: 12px 20px;
    background-color: #0879f3;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .link-btn {
    background: none;
    border: none;
    color: #007bff;
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 8px;
  }
  
  .link-btn:hover {
    color:azure
  }
  button :hover{
    background-color: #08d8f3;
  }
  
 